body {
  background: linear-gradient( #6BCAF1, #F8D1D4 ) fixed;
  font-family: sans-serif;
  margin: 0;
  padding: 0 20px;
}
img {
    height: auto;
    max-width: 100%;
}
dd + dt {
  margin-top: 16px;
}
dt, h1, h2, h3 {
  color: rgb(68, 79, 161);
  text-transform: uppercase;
}
strong {
  color: rgb(68, 79, 161);
}
dl:last-child, p:last-child {
  margin-bottom: 0;
}
.disabled {
    opacity: 0.6;
}
.section-break {
    display: block;
    padding-bottom: 3em;
}
.sticky-inner-wrapper {
    z-index: 1
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    margin: 16px 0;
}
.box {
    background-color: rgba(255,255,255,0.3);
    box-sizing: border-box;
    margin: 0 16px 16px 0;
    width: 310px;
    padding: 16px;
    position: relative;
}
.box h2,
.box h3 {
    margin: 0 0 16px 0;
    text-shadow: 0 0 2px #fff;
}
