.navigation.navbar {
    margin: 0 -20px;
    /*background-color: #6BCAF1;*/
    /*background-color: #000;*/
    background-color: rgb(68, 79, 161);
    border: none;
    border-radius: 0;
}
.navigation.navbar a {
    color: #fff !important;
}
